# Card Issuer service
PORT=3000
CORS_ORIGIN=*
LOG_LEVEL=info

# Kafka (shared)
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID_ISSUER=io-card-issuer
KAFKA_CLIENT_ID_PROCESSOR=io-card-processor

# Card Processor service
KAFKA_GROUP_ID=io-card-processor-group
